<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Информация обновлена:</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="'Обновленная нформация о сотруднике с id = ' + ${customer.id}"></h1>
<p th:text="'Фамилия: ' + ${customer.surname}" />
<p th:text="'Имя: ' + ${customer.name}" />
<p th:text="'Отчество: ' + ${customer.patronymic}" />
<p th:text="'Описание: ' + ${customer.description}" />
<a href="/">Вернуться на главную страницу</a>
</body>
</html>