<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Добавить сотрудника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Результат:</h1>
<p th:text="'Фамилия: ' + ${customer.surname}"/>
<p th:text="'Имя: ' + ${customer.name}"/>
<p th:text="'Отчество: ' + ${customer.patronymic}"/>
<p th:text="'Описание: ' + ${customer.description}"/>
<a href="/new">Добавить еще одного сотрудника</a>
<a href="/">Вернуться на главную страницу</a>
</body>
</html>